[Unit]
Description=greenboot MotD Generator
After=greenboot-healthcheck.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/greenboot/greenboot-status

[Install]
WantedBy=greenboot.service
WantedBy=redboot.service
