#  This file is part of greenboot.
#
#  greenboot is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=greenboot Generic Health Checks Target
JobTimeoutSec=30min
JobTimeoutAction=fail
OnFailure=redboot.target
OnFailureJobMode=fail

[Install]
WantedBy=multi-user.target
